Brotli==1.0.9
brotlipy==0.7.0
bs4==0.0.1
certifi==2021.5.30
cffi
chardet
click==8.0.1
dash==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.4.1
decorator
Flask==2.0.1
Flask-Compress==1.10.1
future==0.18.2
gunicorn==20.0.4
idna
importlib-metadata
itsdangerous==2.0.1
jedi
Jinja2
jsonschema
lxml==4.6.3
MarkupSafe
matplotlib-inline
mistune
multitasking==0.0.9
nest-asyncio
packaging
pandas==1.3.2
pandocfilters==1.4.2
plotly==5.4.0
prometheus-client
prompt-toolkit
Pygments==2.10.0
pyOpenSSL
pyparsing==2.4.7
pyrsistent
PySocks
python-dateutil
pytz==2021.1
pyzmq==22.2.1
retrying==1.3.3
Send2Trash
six
soupsieve==2.2.1
terminado
testpath
tornado
tqdm
traitlets
wcwidth
webencodings==0.5.1
Werkzeug==2.0.1
zipp
